{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Vitez Event</title>

    <!-- Enable zoom on mobile device
	========================================	 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">

    <!-- Animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Icofont -->
    <link rel="stylesheet" href="{% static 'css/icofont.css' %}">

    <!-- Mean menu -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'css/venobox.css' %}">

    <!-- magnific -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Owl carosel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Layout/Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <!-- Default css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- fevicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fevicon.png' %}">
</head>


<body class="home2">
    <div id="preloader">
        <div class="preloader-content">
            <img src="{% static 'img/preloader.gif' %}" alt="">
        </div>
    </div>
    <!--==================================================
            Start Header area
	==================================================-->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="header-logo">
                        <a href="/event">
                            <img src="{% static 'img/logo.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <nav class="mainmenu">
                        <ul>
                            <li class="active"><a href="/event/">Home</a></li>
                            <li><a href="/event/about_view">About</a></li>
                            <li> <a href="/event/contact_view">contact us </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Start mobile menu -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li class="active"><a href="/event/">Home</a></li>
                                    <li><a href="/event/about_view">About</a></li>
                                    <li> <a href="/event/contact_view">contact us </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End mobile menu -->
    </header>
    <!--==================================================
            End Header area
	==================================================-->


    <!--==================================================
            Start Banner area
	==================================================-->
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
                    <div class="banner-slider">
                        <div class="single-banner-slider">
                            <div class="banner-table">
                                <div class="banner-cell">
                                    <div class="banner-title">
                                        <h1>
                                            One day workshop
                                            <span>Python & Django </span>
                                        </h1>
                                    </div>
                                    <div class="banner-countdown">
                                        <ul>
                                            <li>
                                                <div class="deal-counting">
                                                    <div class="countdown-timer"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="banner-link">
                                        <a href="/event/register_view" class="btntype-1">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-banner-slider">
                            <div class="banner-table">
                                <div class="banner-cell">
                                    <div class="banner-title">
                                        <h1>International Businessspan<span>conference - 2017</span></h1>
                                    </div>
                                    <div class="banner-countdown">
                                        <ul>
                                            <li>
                                                <div class="deal-counting">
                                                    <div class="countdown-timer"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="banner-link">
                                        <a href="#" class="btntype-1">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================
            End Banner area
	==================================================-->


    <!--==================================================
            Start AboutEvent area
	==================================================-->
    <div class="about-event-area">
        <div class="pattern-top">
            <div class="patter-inner">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class="pattern-bottom">
            <div class="patter-inner">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 same">
                    <div class="ab-event-detail">
                        <div class="section-title">
                            <p>
                                Vitez
                            </p>
                            <h2>
                                about workshop
                            </h2>
                        </div>
                        <div class="ab-event-desc">
                            <p>This Python for beginners training course leads the students from the basics of writing and running Python scripts to more advanced features such as file operations, regular expressions, working with binary data, and using the extensive functionality of Python modules. Extra emphasis is placed on features unique to Python, such as tuples, array slices, and output formatting. </p>
                            <p><strong>Python Programming Training Objectives</strong></p>
                            <ul>
                                <li>Master the fundamentals of writing Python scripts</li>
                                <li>Learn core Python scripting elements such as variables and flow control structures</li>
                                <li>Discover how to work with lists and sequence data</li>
                                <li>Write Python functions to facilitate code reuse</li>
                                <li>Use Python to read and write files</li>
                                <li>Make their code robust by handling errors and exceptions properly</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 same">
                    <div class="ab-event-single-img-top ab-event-same-style ">
                        <ul>
                            <li>
                                <a class="image-popup" href="{% static 'img/about-event/01.jpg' %}" title="">
                                    <img src="{% static 'img/about-event/01.jpg' %}" alt="img">
                                    <span class="thumbnail-overlay"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ab-event-single-img-bottom ab-event-same-style clearfix">
                        <ul>
                            <li>
                                <a class="image-popup" href="{% static 'img/about-event/02.jpg' %}" title="">
                                    <img src="{% static 'img/about-event/02.jpg' %}" alt="img">
                                    <span class="thumbnail-overlay"></span>
                                </a>
                            </li>
                            <li>
                                <a class="image-popup" href="{% static 'img/about-event/03.jpg' %}" title="">
                                    <img src="{% static 'img/about-event/03.jpg' %}" alt="img">
                                    <span class="thumbnail-overlay"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================
            End AboutEvent area
	==================================================-->


    <!--==================================================
            Start EventSchedule area
	==================================================-->
    <div class="eventschedule-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="section-title">
                        <p>Our event</p>
                        <h2>Event Schedule</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="timeline-area">
                    <div class="col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-xs-12">
                        <ul class="tabmenu">
                            <li class="active">
                                <div class="schedule-date">
                                    <a href="#home" aria-controls="home" data-toggle="tab">10-08-2019</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="tab-content">
                            <ul class="tab-pane active fade in secondRow" id="home">
                                <li>
                                    <ul>
                                        <li>
                                            <div class="schedule-speaker">
                                                <div class="speaker-img">
                                                    <img src="{% static 'img/event-schedule/sp-1.jpg' %}" alt="sp">
                                                </div>
                                                <div class="speaker-bio">
                                                    <a href="#">Rafath</a>
                                                    <p>Python Developer</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="schedule-details">
                                                <div class="schedule-meta">
                                                    <a href="#">
                                                        <i class="icofont icofont-clock-time"></i>
                                                        10:00 am - 11:00 am
                                                    </a>
                                                    <a href="#">
                                                        <i class="icofont icofont-location-pin"></i>
                                                        Vitez SoftwareLab-Calicut
                                                    </a>
                                                </div>
                                                <div class="schedule-title">
                                                    <a href="#">
                                                        <h4>Introduction Part</h4>
                                                    </a>
                                                </div>
                                                <div class="schedule-content">
                                                    <p>Overview & Creating App, Intriduction,Apps,Views, Basic Commands, Templates
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="schedule-speaker">
                                                <div class="speaker-img">
                                                    <img src="{% static 'img/event-schedule/sp-2.jpg' %}" alt="sp">
                                                </div>
                                                <!--
                                                <div class="speaker-bio">
                                                    <a href="#">Thomas Alva</a>
                                                    <p>Web Developer</p>
                                                </div>
-->
                                            </div>
                                        </li>
                                        <li>
                                            <div class="schedule-details">
                                                <div class="schedule-meta">
                                                    <a href="#">
                                                        <i class="icofont icofont-clock-time"></i>
                                                        11:00 am - 11:15 am
                                                    </a>
                                                    <a href="#">
                                                        <i class="icofont icofont-location-pin"></i>
                                                        Vitez SoftwareLab-Calicut
                                                    </a>
                                                </div>
                                                <div class="schedule-title">
                                                    <a href="event-schedule.html">
                                                        <h4>Lunch Time</h4>
                                                    </a>
                                                </div>
                                                <!--
                                                <div class="schedule-content">
                                                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus paclaram anteposuerit litterarum formas humanitatis per ...
                                                    </p>
                                                </div>
-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="schedule-speaker">
                                                <div class="speaker-img">
                                                    <img src="{% static 'img/event-schedule/sp-1.jpg' %}" alt="sp">
                                                </div>
                                                <div class="speaker-bio">
                                                    <a href="#">Rafath</a>
                                                    <p>Python Developer</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="schedule-details">
                                                <div class="schedule-meta">
                                                    <a href="#">
                                                        <i class="icofont icofont-clock-time"></i>
                                                        11:15 am - 02:30 pm
                                                    </a>
                                                    <a href="#">
                                                        <i class="icofont icofont-location-pin"></i>
                                                        Vitez SoftwareLab-Calicut
                                                    </a>
                                                </div>
                                                <div class="schedule-title">
                                                    <a href="event-schedule.html">
                                                        <h4>Practical Section</h4>
                                                    </a>
                                                </div>
                                                <div class="schedule-content">
                                                    <p>Django Template Language, Filters, Fields, Queries(with filters), Migrations
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================
            End EventSchedule area
	==================================================-->










    <!--==================================================
            End Faq area
	==================================================-->
    <div class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 align-middle">
                    <div class="about-feature-img">
                        <img src="{% static 'img/faq/01.png' %}" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 align-middle">
                    <div class="section-title">
                        <p>Workshop</p>
                        <h2>Syllabus</h2>
                    </div>
                    <div class="faq-main-content">
                        <div class="faq-panel-group" id="accordion">
                            <div class="panel faq-panel question-one shadow">
                                <a data-toggle="collapse" data-parent="#accordion" href="#question-one">
                                    <div class="question-ask-panel-title">
                                        <p>Django Views</p>
                                        <i class="icofont icofont-minus open-accordion"></i>
                                        <i class="icofont icofont-plus close-accordion"></i>
                                    </div>
                                </a>
                                <div id="question-one" class="panel-collapse collapse in">
                                    <div class="faq-panel-body">
                                        <p>URL Mapping/URL Dispatcher</p>
                                    </div>
                                </div>
                            </div>
                            <!-- faq-panel end -->
                            <div class="panel faq-panel">
                                <a data-toggle="collapse" data-parent="#accordion" href="#question-two" class="collapsed">
                                    <div class="question-ask-panel-title">
                                        <p>Templates</p>
                                        <i class="icofont icofont-minus open-accordion"></i>
                                        <i class="icofont icofont-plus close-accordion"></i>
                                    </div>
                                </a>
                                <div id="question-two" class="panel-collapse collapse">
                                    <div class="faq-panel-body">
                                        <p>Django Template Language, Filters</p>
                                    </div>
                                </div>
                            </div>
                            <!-- faq-panel end -->
                            <div class="panel faq-panel">
                                <a data-toggle="collapse" data-parent="#accordion" href="#question-three" class="collapsed">
                                    <div class="question-ask-panel-title">
                                        <p>Models</p>
                                        <i class="icofont icofont-minus open-accordion"></i>
                                        <i class="icofont icofont-plus close-accordion"></i>
                                    </div>
                                </a>
                                <div id="question-three" class="panel-collapse collapse">
                                    <div class="faq-panel-body">
                                        <p>Fields, Queries(with filters), Migrations</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================
            End Faq area
	==================================================-->





    <!--==================================================
            Start Footer Area
	==================================================-->
    <div class="footer-area">
        <div class="footer-top-area">
            <div class="pattern-top">
                <div class="patter-inner">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="pattern-bottom">
                <div class="patter-inner">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="footer-top-content">
                            <div class="footer-logo">
                                <a href="/event/">
                                    <img src="{% static 'img/logo-ftr.png' %}" alt="alt">
                                </a>
                            </div>
                            <div class="footer-desc">
                                <p>. We are incorporated on 12th October 2018, our intention is to make our presence felt among the masses by helping them to avail the benefits of technological developments. </p>
                            </div>
                            <div class="footer-social-icon">
                                <a href="#">
                                    <i class="icofont icofont-social-facebook "></i>
                                </a>
                                <a href="#">
                                    <i class="icofont icofont-brand-youtube"></i>
                                </a>
                                <a href="#">
                                    <i class="icofont icofont-brand-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                                <a href="#">
                                    <i class="icofont icofont-social-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <p>
                Copyright © 2019 Vitez Softwarelab. Designed and Developed by Vitez
            </p>
        </div>
    </div>
    <!--==================================================
            End Footer Area
	==================================================-->

    <!-- Vendor js -->
    <script src="{% static 'js/vendor/jquery-1.12.1.min.js' %}"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Mean menu -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>

    <!-- wow js -->
    <script src="{% static 'js/wow.js' %}"></script>

    <!-- easing js -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- waypoint -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>

    <!-- waypoint -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!--  Google map api  -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- countdown -->
    <script src="{% static 'js/jquery.countdown.js' %}"></script>

    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
</body>


<!-- Mirrored from eventhour.themeebit.com/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2019 23:49:52 GMT --></html>
